* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pixeloid Sans';
  src: url('../font/PixeloidSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: grid;
  background-color: bisque;
  margin-bottom: 10px;
  justify-content: center;
  
}

.navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
}

 /*  HEADER ONE */

.header-one .logo-container {
  display: flex;
  gap: 3rem;
  margin-right: 150px;
  img {scale:1.2;  image-rendering: pixelated; }
}

.header-one .navigation {
  text-align: center;
  padding-inline: 10px;
}


.header-one .navigation-content {
  padding: 2rem 1rem; /* Adjust padding as needed */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Adjust background size */
  image-rendering: pixelated;


}

.header-one .navigation-content a {
  text-shadow: 
  -1px -1px 0 white,
   1px -1px 0 white,
  -1px  1px 0 white,
   1px  1px 0 white;
  color: black;
  font-size: 1.1rem;
  font-family: 'Pixeloid Sans', sans-serif;
  font-weight: bolder;
  
}

.navigation-content a {
  text-decoration: none;
}


.header-one {
  grid-template-columns: auto auto auto auto auto auto;
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-color:rgba(255, 239, 231, 0.523) ;
  background-blend-mode: overlay;
  background-size: 100% 300%;
  image-rendering: pixelated;

}

.flowershop {
  height: 100px;
  width: 100px;
}


#fshome{
  background-image: url("../img/bush.png"); /* Background image */

}

#fsproducts{
  background-image: url("../img/blue2.png"); /* Background image */

}

#fsservices{
  background-image: url("../img/orange3.png"); /* Background image */

}

#fsabout{
  background-image: url("../img/pink1.png"); /* Background image */

}

#fscontactus{
  background-image: url("../img/yellow1.png"); /* Background image */

}

.bi-bell-fill {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2em;
  margin-left: 40px;
  color:white;
  -webkit-text-stroke: 2.4px black;
  text-decoration: none;

}

 /*  HEADER TWO */

 .h2-logo {
  gap: 3rem;
height:30px;
width: auto;
}

.header-two {
  height: 13vh;
  background-color: rgb(0, 0, 0);
}

.header-two a {
  color: white;
  text-shadow: 
  -1px -1px 10px grey,
   1px -1px 10px grey,
  -1px  1px 10px grey,
   1px  1px 10px grey;
}

.header-two .logo-container {margin-top:5px; scale: 1.5; display:flex; align-items: center; justify-content: center;}


 /*  HEADER THREE */


 .header-three .cta-container a {

  background-color: rgb(63, 0, 180) !important;
  margin-left: 10rem;
  text-decoration: none;
  font-weight: bold;
  color:white;
}

 .header-three a {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5%;
  font-weight:600;
 }

 .header-three {
  display: flex;
  background-image: url("../img/h3-bg.png");
  background-color:#a19affa8;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 13vh;
  
 }

.header-three .logo-container img {
  height: 70px;
  border-radius: 100%;
  margin-right: 10px;
}

.header-three .logo-container {
  color:white;  
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

  /*  HEADER FOUR */

  .header-four {
    box-shadow: 5px 5px 10px #8888885c;
    background-color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }

  .header-four .cta-container {
  text-decoration: none;
  margin-left: 30px;
  gap:1em;
  padding:5px;
  border-radius: 5px;
      a {text-decoration: none;}
  }

  .header-four .navigation-content     a {    color: black;
  }

  #login { background-color: rgb(255, 49, 104);
    a {color: aliceblue; font-weight: bold;}
 }

  #signup { 

    border-style: solid;
    border-color: #ff3168; 
  a {color:#ff3168;font-weight: bold;}
  
}


  .header-four .logo-container {
    margin-right: 40px;
     img {
    height: 70px;
  }
}

.header-four input[type=text] {
  border: 2px solid #ff3168;
  border-radius: 4px;
  padding: 4px;
  width: 20rem;
}

    /*  HEADER FIVE */
  .header-five {
    box-shadow: 5px 5px 10px #f5310039;
    background-color: #ffc384;
    height: 10vh;
    display: flex;
    font-family: 'Playfair Display', serif;
    a {color: #823409; text-shadow: 2px 1px 5px #82330964;}
  }

  .header-five .logo-container img {
    height: 50px;
    align-items: center;
    margin-top: 10px;  }

  .header-five .logo-container {
    display: flex;
    margin-right: 10px;
  }
  .header-five [type=text] {
    text-align: right;
    border: 2px solid #823409;
    padding:2px;
    border-radius: 4px;
  }


  .animated {
    text-align: center;
  }

/* ANIMATED VER */

 /*  HEADER ONE */

  .animated .header-one .navigation-content:hover:before {
    display: block;
    content: "";
    width: 50px;
    height: 20px;
    position: absolute;
    margin-left: -50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/triangle-fill.svg");
    transform: rotate(90deg);  }

    .animated .header-one .navigation-content:hover {
      background-color: #823409;
      scale:1.2;
    }

   .animated .bi-bell-fill:hover {
      -webkit-text-stroke: 3px white;
      color:black;
      animation: rotate 0.4s infinite linear;
      transform-origin: top center;
  }

  @keyframes rotate {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(10deg); }
      50% { transform: rotate(0deg); }
      75% { transform: rotate(-10deg); }
      100% { transform: rotate(0deg); }


  }

 /*  HEADER TWO */
 .animated .header-two .navigation-content a:hover{
  color:#ff7a7a;
  transition:0.3s;
  text-shadow: 
  -1px -1px 10px red,
   1px -1px 10px red,
  -1px  1px 10px red,
   1px  1px 10px red;
}


.animated .h2-logo:hover {
  animation: intro 0.4s ease-out;

}
  @keyframes intro{
         0% {   transform: translateY(-10px); opacity:0; }
         100% {   transform: translateY(0); opacity:1; }
        }

/*  HEADER THREE */

.animated .header-three .logo-container p {
  z-index: 10;
  width: 1px;
  opacity: 0;
  transform: translateX(-70px);
  transition: 0.3s;
  margin-right: 40px;
}

.animated .header-three .logo-container p:hover {
  opacity: 1;
  transform: translateX(0);

}


.animated .header-three .navigation-content a:hover{
color: white;
background-color: rgb(152, 96, 255);
}

.animated .header-three .cta-container a:hover{
  background-color: rgb(22, 0, 63) !important;
  }

  /*  HEADER FOUR */

  .animated  .header-four .navigation-content a:hover{
    text-decoration: underline;
    color:#737373;
  }

  .animated  #login:hover{
    background-color: #bc0838;
    a {
      color:#ffc6d5;
    }
  }
  .animated  #signup:hover{
    background-color: #ffc6d5;
    border-color: #bc0838;
    a {
      color:#bc0838;
    }
  }

    /*  HEADER FIVE */
    .animated .header-five .navigation-content {
      transition: 0.1s ease-in-out;
    }

    .animated .header-five .navigation-content:hover
  {
  scale:1.2;
  a {color: white;}
  }


  .animated .header-five .logo-container {
  transition: 0.2s ease-in-out;
  }

  .animated .header-five .logo-container:hover {
    animation: doglogo 0.4s infinite;
  }

  @keyframes doglogo {

    0% {transform: scaleX(1) scaleY(1); }
    50% {transform: scaleX(1.5) scaleY(0.5); }
    100% {transform: scaleX(1) scaleY(1); }

  }