@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
  background-color: #131417;
  color: white;
  font-family: 'Silkscreen', sans-serif;
  &::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb1%2Faa%2F2c%2Fb1aa2c6322c087183a432a7ede2695ae.gif&f=1&nofb=1&ipt=3e3b4394356f5d2b9eb9fc85c50b12e4e7a7d6fbd0ab3aa45a59746f1b94ce5c&ipo=images);
    mix-blend-mode: screen;
  }
}
h1, & .instruction-text {
  font-size: 3.5rem;
  text-shadow: 0 0 18px white;
  position: relative;
  &::after, &::before{
    content: attr(data-text);
    opacity: 50%;
    position: absolute;
    left: 3px;
    text-shadow: none;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F3DPAzwJxrwCre%2Fgiphy.gif&f=1&nofb=1&ipt=dc4dd2260b9ccecc06fc391c3c781a47f6dd210b6e9d1d80c61beb36b618cdc9&ipo=images);
    background-clip: text;
    color: transparent;
    mix-blend-mode: color-dodge;
    pointer-events: none;
  }
  &::before{
    left: -3px;
    mix-blend-mode: lighten;
  }
}